# Student Loan Risk with Deep Learning

In [118]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

Prepare the Data for Use on a Neural Network Model (15 points)
- Two datasets were created: a target (y) dataset, which includes the "credit_ranking" column, and a features (X) dataset, which includes the other columns. (5 points)

- The features and target sets have been split into training and testing datasets. (5 points)

- Scikit-learn's StandardScaler was used to scale the features data. (5 points)

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [119]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [120]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [121]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [122]:
# Define the target set y using the credit_ranking column
y=loans_df["credit_ranking"]

# Display a sample of y
print(y.sample(5))

397     1
166     0
826     1
1547    0
357     1
Name: credit_ranking, dtype: int64

In [123]:
# Define features set X by selecting all columns but credit_ranking
X=loans_df.drop(columns='credit_ranking')

# Review the features DataFrame
X.head(5)

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [124]:
#from sklearn import train_test_split
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1 NOTE==> (42 is always the asnwer, but 1 is also a good choice)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [125]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

- Compile and Evaluate a Model Using a Neural Network (30 points)

- A deep neural network was created with appropriate parameters. (10 points)

- The model was compiled and fit using the accuracy loss function, the adam optimizer, the accuracy evaluation metric, and a small number of epochs, such as 50 or 100. (10 points)

- The model was evaluated using the test data to determine its loss and accuracy. (5 points)

- The model was saved and exported to a keras file named student_loans.keras. (5 points)

In [126]:
# Define the the number of inputs (features) to the model
features_X_train= X_train.shape[1]

# Review the number of features
print(features_X_train)

11

In [127]:
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
# Define the number of hidden nodes for the first hidden layer
nn_model=tf.keras.models.Sequential()
input_nodes= len(X_train.columns)
# Define the number of hidden nodes for the second hidden layer
hidden_node1= input_nodes
# Define the number of neurons in the output layer
output_node = 1

In [128]:
# Create the Sequential model instance
nn_model= Sequential([
   # Add the first hidden layer
   Dense(hidden_node1, activation='relu', input_dim=input_nodes,),
   # Add the second hidden layer
   Dense(units=6, activation='relu',),
   # Add the output layer to the model specifying the number of output neurons and activation function
   Dense(output_node, activation='sigmoid')])

In [129]:
# Display the Sequential model summary
nn_model.summary()

Model: "sequential_15"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_33 (Dense)            (None, 11)                132

 dense_34 (Dense)            (None, 6)                 72

 dense_35 (Dense)            (None, 1)                 7

=================================================================
Total params: 211 (844.00 Byte)
Trainable params: 211 (844.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [130]:
# Compile the Sequential model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [131]:
# Fit the model using 50 epochs and the training data
fit_nn_model= nn_model.fit(X_train_scaled, y_train, epochs=50)
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
nn_model_loss, nn_model_accuarcy= nn_model.evaluate(X_train_scaled, y_train, verbose=2)

# Display the model loss and accuracy results
print(f'Loss:{nn_model_loss}, Accuracy:{nn_model_accuarcy}')

Epoch 1/50
38/38 [==============================] - 1s 2ms/step - loss: 0.7533 - accuracy: 0.4362
Epoch 2/50
38/38 [==============================] - 0s 2ms/step - loss: 0.6954 - accuracy: 0.5496
Epoch 3/50
38/38 [==============================] - 0s 2ms/step - loss: 0.6558 - accuracy: 0.6222
Epoch 4/50
38/38 [==============================] - 0s 2ms/step - loss: 0.6280 - accuracy: 0.6906
Epoch 5/50
38/38 [==============================] - 0s 2ms/step - loss: 0.6049 - accuracy: 0.7206
Epoch 6/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5849 - accuracy: 0.7181
Epoch 7/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5683 - accuracy: 0.7173
Epoch 8/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5539 - accuracy: 0.7198
Epoch 9/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5413 - accuracy: 0.7273
Epoch 10/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5320 - accuracy: 0.7348
Epoch 11/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5244 - accuracy: 0.7381
Epoch 12/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5179 - accuracy: 0.7381
Epoch 13/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5132 - accuracy: 0.7398
Epoch 14/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5088 - accuracy: 0.7531
Epoch 15/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5054 - accuracy: 0.7573
Epoch 16/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5021 - accuracy: 0.7581
Epoch 17/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4991 - accuracy: 0.7590
Epoch 18/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4961 - accuracy: 0.7665
Epoch 19/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4934 - accuracy: 0.7681
Epoch 20/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4910 - accuracy: 0.7690
Epoch 21/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4890 - accuracy: 0.7690
Epoch 22/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4876 - accuracy: 0.7748
Epoch 23/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4854 - accuracy: 0.7790
Epoch 24/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4833 - accuracy: 0.7798
Epoch 25/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4815 - accuracy: 0.7781
Epoch 26/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4807 - accuracy: 0.7790
Epoch 27/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4800 - accuracy: 0.7790
Epoch 28/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4781 - accuracy: 0.7790
Epoch 29/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4763 - accuracy: 0.7807
Epoch 30/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4756 - accuracy: 0.7790
Epoch 31/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4744 - accuracy: 0.7807
Epoch 32/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4734 - accuracy: 0.7823
Epoch 33/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4724 - accuracy: 0.7798
Epoch 34/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4714 - accuracy: 0.7807
Epoch 35/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4704 - accuracy: 0.7832
Epoch 36/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4699 - accuracy: 0.7823
Epoch 37/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4686 - accuracy: 0.7840
Epoch 38/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4672 - accuracy: 0.7807
Epoch 39/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4665 - accuracy: 0.7815
Epoch 40/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4652 - accuracy: 0.7840
Epoch 41/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4650 - accuracy: 0.7857
Epoch 42/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4642 - accuracy: 0.7832
Epoch 43/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4635 - accuracy: 0.7840
Epoch 44/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4628 - accuracy: 0.7865
Epoch 45/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4624 - accuracy: 0.7873
Epoch 46/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4617 - accuracy: 0.7865
Epoch 47/50
38/38 [==============================] - 0s 3ms/step - loss: 0.4616 - accuracy: 0.7882
Epoch 48/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4602 - accuracy: 0.7890
Epoch 49/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4599 - accuracy: 0.7832
Epoch 50/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4590 - accuracy: 0.7873
38/38 - 0s - loss: 0.4564 - accuracy: 0.7890 - 183ms/epoch - 5ms/step
Loss:0.45643821358680725, Accuracy:0.78899085521698

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [132]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
nn_model_loss, nn_model_accuarcy= nn_model.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f'Loss:{nn_model_loss}, Accuracy:{nn_model_accuarcy}')

13/13 - 0s - loss: 0.5013 - accuracy: 0.7550 - 44ms/epoch - 3ms/step
Loss:0.5013244152069092, Accuracy:0.7549999952316284

In [133]:
# check for overfitting--
nn_model_loss, nn_model_accuarcy= nn_model.evaluate(X_train_scaled, y_train, verbose=2)

# Display the model loss and accuracy results
print(f'Loss:{nn_model_loss}, Accuracy:{nn_model_accuarcy}')

38/38 - 0s - loss: 0.4564 - accuracy: 0.7890 - 88ms/epoch - 2ms/step
Loss:0.45643821358680725, Accuracy:0.78899085521698

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [134]:
# Set the model's file path
file_path = Path("student_loan_model.keras")

# Export your model to a keras file
nn_model.save(file_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

- Predict Loan Repayment Success by Using your Neural Network Model (25 points)
- The saved model was reloaded. (5 points)

- The reloaded model was used to make binary predictions on the testing data. (10 points)

- A classification report is generated for the predictions and the testing data. (10 points)

### Step 1: Reload your saved model.

In [135]:
import tensorflow as tf
# Set the model's file path
file_path = Path("student_loan_model.keras")

# Load the model to a new object
nn_model_imported= tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [136]:
# Make predictions with the test data
predictions= nn_model_imported.predict(X_test_scaled, verbose=2)

# Display a sample of the predictions
predictions

13/13 - 0s - 77ms/epoch - 6ms/step

array([[0.22226577],
       [0.4211405 ],
       [0.92311615],
       [0.7742353 ],
       [0.9807712 ],
       [0.8121736 ],
       [0.95195794],
       [0.09522434],
       [0.3146078 ],
       [0.35194615],
       [0.9074385 ],
       [0.21698004],
       [0.42530715],
       [0.9508683 ],
       [0.7236822 ],
       [0.35589328],
       [0.9291344 ],
       [0.45856652],
       [0.6638042 ],
       [0.4243427 ],
       [0.68802154],
       [0.79636586],
       [0.22635242],
       [0.8246638 ],
       [0.34497252],
       [0.9626785 ],
       [0.82528985],
       [0.6469095 ],
       [0.25341904],
       [0.2714101 ],
       [0.52609724],
       [0.9749876 ],
       [0.23706275],
       [0.9739237 ],
       [0.18546109],
       [0.6642426 ],
       [0.18193163],
       [0.3765924 ],
       [0.9810629 ],
       [0.14070424],
       [0.94251066],
       [0.06083909],
       [0.10982329],
       [0.91905695],
       [0.06299846],
       [0.6860686 ],
       [0.22012863],
       [0.4481604 ],
       [0.30136067],
       [0.8626913 ],
       [0.04385078],
       [0.11753076],
       [0.9085628 ],
       [0.04873404],
       [0.19215149],
       [0.6923261 ],
       [0.8691339 ],
       [0.7192343 ],
       [0.48070222],
       [0.24199435],
       [0.8986694 ],
       [0.12340005],
       [0.2727128 ],
       [0.33880123],
       [0.03742371],
       [0.14966632],
       [0.97699   ],
       [0.7229728 ],
       [0.78054345],
       [0.96937984],
       [0.18546109],
       [0.956589  ],
       [0.697015  ],
       [0.5940227 ],
       [0.07642557],
       [0.3724811 ],
       [0.95213616],
       [0.06289193],
       [0.15539795],
       [0.7767254 ],
       [0.7692819 ],
       [0.10721902],
       [0.08560061],
       [0.46051154],
       [0.6241008 ],
       [0.09329957],
       [0.09529839],
       [0.8725931 ],
       [0.30999792],
       [0.78017   ],
       [0.17751288],
       [0.94762504],
       [0.17600043],
       [0.9534484 ],
       [0.57344776],
       [0.21724194],
       [0.76604384],
       [0.58684415],
       [0.30887803],
       [0.947951  ],
       [0.5392094 ],
       [0.2260185 ],
       [0.244043  ],
       [0.13186117],
       [0.15040396],
       [0.51454616],
       [0.75520945],
       [0.6398886 ],
       [0.78830373],
       [0.15818009],
       [0.9886712 ],
       [0.6803249 ],
       [0.8198448 ],
       [0.45176765],
       [0.19798756],
       [0.98880947],
       [0.213486  ],
       [0.07204622],
       [0.21829888],
       [0.2906778 ],
       [0.07017692],
       [0.9774739 ],
       [0.92618227],
       [0.16533116],
       [0.22488762],
       [0.45544145],
       [0.6958843 ],
       [0.22010936],
       [0.4382475 ],
       [0.7775736 ],
       [0.24707296],
       [0.2628028 ],
       [0.9765325 ],
       [0.10375032],
       [0.85903424],
       [0.7902934 ],
       [0.11473498],
       [0.96139604],
       [0.27065122],
       [0.32599214],
       [0.28065068],
       [0.49379322],
       [0.65768415],
       [0.14498553],
       [0.78746027],
       [0.9357758 ],
       [0.502065  ],
       [0.06280462],
       [0.77398664],
       [0.88626176],
       [0.42499533],
       [0.9825688 ],
       [0.20751962],
       [0.25755468],
       [0.85750383],
       [0.87363726],
       [0.9270341 ],
       [0.95798635],
       [0.77005357],
       [0.52593046],
       [0.8318853 ],
       [0.59842217],
       [0.279413  ],
       [0.10915151],
       [0.9719177 ],
       [0.87142915],
       [0.36590913],
       [0.10369158],
       [0.1241149 ],
       [0.7834784 ],
       [0.28982186],
       [0.8235969 ],
       [0.21712945],
       [0.3663017 ],
       [0.9159141 ],
       [0.3187917 ],
       [0.38654017],
       [0.23103443],
       [0.46739948],
       [0.21724194],
       [0.63470495],
       [0.74167454],
       [0.43646497],
       [0.19115734],
       [0.9774909 ],
       [0.99714136],
       [0.9528339 ],
       [0.35586053],
       [0.23147584],
       [0.14975867],
       [0.38669217],
       [0.6626003 ],
       [0.36735165],
       [0.2714718 ],
       [0.79684   ],
       [0.31733128],
       [0.6021548 ],
       [0.1161857 ],
       [0.1568381 ],
       [0.26678136],
       [0.95591086],
       [0.39811534],
       [0.82312334],
       [0.16750303],
       [0.98234457],
       [0.68240213],
       [0.22076555],
       [0.11198681],
       [0.9811831 ],
       [0.58097243],
       [0.53281057],
       [0.7333527 ],
       [0.244043  ],
       [0.94256735],
       [0.23503481],
       [0.16126245],
       [0.12345573],
       [0.15305221],
       [0.76202583],
       [0.6012167 ],
       [0.5967793 ],
       [0.24357735],
       [0.19974214],
       [0.3078918 ],
       [0.7485025 ],
       [0.67102814],
       [0.3869799 ],
       [0.6363666 ],
       [0.9825558 ],
       [0.80859727],
       [0.32997757],
       [0.2784501 ],
       [0.9338667 ],
       [0.9695324 ],
       [0.22517094],
       [0.17742142],
       [0.95772547],
       [0.23112658],
       [0.2058004 ],
       [0.38905677],
       [0.90338224],
       [0.8978013 ],
       [0.5418099 ],
       [0.48290873],
       [0.46728578],
       [0.9808704 ],
       [0.8194917 ],
       [0.34022668],
       [0.14174932],
       [0.24302325],
       [0.19914308],
       [0.23949789],
       [0.9754577 ],
       [0.8396288 ],
       [0.9528271 ],
       [0.34667823],
       [0.18268706],
       [0.08912802],
       [0.39370936],
       [0.65402716],
       [0.72513473],
       [0.13178065],
       [0.6065352 ],
       [0.5379518 ],
       [0.3220929 ],
       [0.77398664],
       [0.7591558 ],
       [0.12022002],
       [0.2422293 ],
       [0.8905149 ],
       [0.21782708],
       [0.76485544],
       [0.14667962],
       [0.9705366 ],
       [0.11312868],
       [0.73417807],
       [0.2664857 ],
       [0.8235969 ],
       [0.4708202 ],
       [0.23416576],
       [0.98196   ],
       [0.6900353 ],
       [0.48943228],
       [0.04725699],
       [0.21167755],
       [0.69786114],
       [0.41926914],
       [0.1077211 ],
       [0.16663457],
       [0.6854455 ],
       [0.4719892 ],
       [0.9291344 ],
       [0.6527839 ],
       [0.65947926],
       [0.9195928 ],
       [0.9252967 ],
       [0.19065922],
       [0.96281826],
       [0.1301211 ],
       [0.13882099],
       [0.51834697],
       [0.8959775 ],
       [0.12897544],
       [0.703819  ],
       [0.33169913],
       [0.6184912 ],
       [0.11267735],
       [0.9552645 ],
       [0.45133427],
       [0.08318465],
       [0.1558566 ],
       [0.61323535],
       [0.18013497],
       [0.8605341 ],
       [0.7744165 ],
       [0.6719656 ],
       [0.16828644],
       [0.2540769 ],
       [0.9717577 ],
       [0.95772547],
       [0.4065065 ],
       [0.6423337 ],
       [0.9968861 ],
       [0.19354644],
       [0.31733128],
       [0.43192706],
       [0.11846579],
       [0.98887277],
       [0.81982046],
       [0.40142387],
       [0.93760186],
       [0.16783985],
       [0.4833247 ],
       [0.27137253],
       [0.5498577 ],
       [0.16218953],
       [0.9395725 ],
       [0.94256735],
       [0.14212136],
       [0.61185724],
       [0.2285493 ],
       [0.22426282],
       [0.66247636],
       [0.68149173],
       [0.28485736],
       [0.99252385],
       [0.72729415],
       [0.11881055],
       [0.20050429],
       [0.442148  ],
       [0.7333527 ],
       [0.9867168 ],
       [0.43868047],
       [0.76807904],
       [0.49849394],
       [0.21053626],
       [0.9873348 ],
       [0.9508683 ],
       [0.11473498],
       [0.10710496],
       [0.2745036 ],
       [0.92830443],
       [0.16135117],
       [0.9719967 ],
       [0.3183079 ],
       [0.15644445],
       [0.4111815 ],
       [0.239148  ],
       [0.76981974],
       [0.17742142],
       [0.39576364],
       [0.67692477],
       [0.33796784],
       [0.2566167 ],
       [0.14598756],
       [0.64294237],
       [0.9942889 ],
       [0.98755777],
       [0.16126245],
       [0.845116  ],
       [0.9365865 ],
       [0.8293647 ],
       [0.8528455 ],
       [0.85510516],
       [0.45839956],
       [0.93804574],
       [0.11639041],
       [0.5405551 ],
       [0.80922574],
       [0.5834688 ],
       [0.3652782 ],
       [0.315251  ],
       [0.323971  ],
       [0.9171881 ],
       [0.15890455],
       [0.7308983 ],
       [0.30999792],
       [0.9338667 ],
       [0.23098926],
       [0.566923  ]], dtype=float32)

In [137]:
# Save the predictions to a DataFrame and round the predictions to binary results
predictions_df=pd.DataFrame(columns=["Predictions"], data=predictions)
predictions_df['Predictions']= round(predictions_df['Predictions'], 0)
predictions_df

     Predictions
0            0.0
1            0.0
2            1.0
3            1.0
4            1.0
..           ...
395          1.0
396          0.0
397          1.0
398          0.0
399          1.0

[400 rows x 1 columns]

### Step 4: Display a classification report with the y test data and predictions

In [138]:
# Print the classification report with the y test data and predictions
print(classification_report(y_test, predictions_df,))

              precision    recall  f1-score   support

           0       0.72      0.79      0.75       188
           1       0.80      0.72      0.76       212

    accuracy                           0.76       400
   macro avg       0.76      0.76      0.75       400
weighted avg       0.76      0.76      0.76       400

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**
- The response describes the data that should be collected to build a recommendation system for student loan options. (4 points)
- The response explains why they think that data should be collected. (4 points)
- The type of data described is appropriate for a recommendation system for student loan options. (2 points)

In [139]:
# Answer:
# In order to build a loan recomendation model that would find the best financing options, the following data would be required:
########
# 1. Financial Information:
#   - Monthly Income
#   - Monthly Expenses
#   - Credit Score
#   - Credit History
#   - Cash on hand
#   - Family contribution
#   - Do the have a cosignor?
########
# 2. Career Goals:
#   - Career Field
#   - Salary demographics for that field/industry
#   - Expected Value of fututre earnings
#   - Probability of graduation
########
# 3. Loan Information for each type of loan:
#   - Interest rate
#   - Repayment term
#   - Loan fees
#   - Loan forgiveness, forebarence, deferment and hardship options
#   - Loan limits
#   - Loan subsidy availability
#   - Loan servicer
#   - Consolidation and refinancing options
########
# part 1 of this data set provides a clear picture of the student's financial capabilities now.
# part 2 of this data set provides a a method to predict future earnings, their ability to repay the loans vetted against the probability of graduation.
# part 3 of this data set provides the loan options available to the student. where the best options mitigate risk to the lender
#   while granting some releief to the student if they are unable to repay the loan.


**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**
- The response chose a filtering method. (4 points)
- The student justified the choice of their filtering method. (4 points)
- The choice of filtering method was appropriate for the data selected in the previous question. (2 points)

In [140]:
# Answer:
# This model would use context-based filtering to recommend the best loan options to the student.
# The collection of these data points would allow the model to provide a highly individualized recommendation to the student, based 
# on their specific financial situation, lending needs and vettes it against the future potential of their career goals. 
# 
# The other two filtering methods would not be efficient choices because their recommendations are not based on the individual's specific needs and goals,
# but rather collaborative filterng finds patterns within the data, and content-based filtering is more for movie, music and book recomendations.

**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**
- The response lists two real-world challenges with building a recommendation system for student loans. (4 points)
- The response explains why these challenges would be of concern for a student loan recommendation system. (6 points)

In [141]:
#Answer:
# Due to the nature of the data within the dataset, there would be a number of considerations to take inta account.
# First, bias in the data based on some factor in the users profile, such as cash on hand, availability of a copsignitor and family contribution
# might create a negative-bias against people of color and lower income families.
# 
# Secondly, security of the dataset should be a big concern. there is a very real risk when compiling such a large amount of personal and financial
# information in one location. the dataset would be of high value to those looking to steal identities or commit fraud.